<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Web
    </ion-title>
  </ion-toolbar>

  <style>
    a{
  
      text-decoration: none;
      color:lightskyblue;
      font-size: 22px;
    }
  </style>
  <ion-content [fullscreen]="true">

    <div align="center"> <img width="380px"  alt="Imagen encabezado" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfOyKSsH7dC1sczkonU30XZObXElkgHNKZVQ&usqp=CAU" /></div>
    <hr>
    <hr>
    <a href="https://lavozdeguamote.org/"> Pagina Web </a>
    <hr>
    <a href="https://lavozdeguamote.org/"><img src="https://i.ibb.co/KL8cjsS/Guamote-web.png" width="370px"></a>
    <p style="text-align:justify;">
    La Voz de Guamote, Ayllukunapak Shimi, es un medio de comunicación de los Jesuitas del Ecuador que brinda a la
    comunidad guamoteña sus servicios comunicacionales desde una perspectiva popular, comunitaria y educativa. 
  </p>
  <p style="text-align:justify;">
    Estamos asociados a la coordinadora de Medios Comunitarios Populares y Educativos del Ecuador (CORAPE), 
    Asociación Latinoamericana de Educación y Comunicación Popular (ALER) y la Red de Radios Jesuitas de América Latina y el Caribe.
  </p>
  </ion-content>
