<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Podcast
    </ion-title>
  </ion-toolbar>
</ion-header>

<style>
  a{

    text-decoration: none;
    color:lightskyblue;
    font-size: 22px;
  }
</style>

<ion-content [fullscreen]="true">
  <div align="center"> <img width="380px"  alt="Imagen encabezado" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfOyKSsH7dC1sczkonU30XZObXElkgHNKZVQ&usqp=CAU" /></div>
  <hr>
  <a href="https://open.spotify.com/episode/0q61LxQDUO4HAzk6N3nVpE"> Episodio 1: Angel Gavin </a>
    <div><a href="https://open.spotify.com/episode/0q61LxQDUO4HAzk6N3nVpE"><img src="https://i.ibb.co/syq2cqJ/cap-2r.png" width="150px"></a> </div>
    <p style="text-align:justify;"> Este programa tiene el objetivo de relatar vivencias culturales de personas del Cantón Guamote. Con sus relatos se busca
      transmitir un poco de historia y comprender ciertas formas de vivir, perspectivas e incluso su involucración e importancia en la sociedad. Además, se presenta una biografía de quienes contarán su Historia de Vida. </p>
      <a href="https://open.spotify.com/episode/0QQ3qlobEZyS8GpGnLrSF4"> Episodio 2: Carlos Campoverde </a>
      <div><a href="https://open.spotify.com/episode/0QQ3qlobEZyS8GpGnLrSF4"><img src="https://i.ibb.co/nRXMpcm/cap-3r.png" width="150px"></a> </div>
      <p style="text-align:justify;"> Este programa tiene el objetivo de relatar vivencias culturales de personas del Cantón Guamote. Con sus relatos se busca
      transmitir un poco de historia y comprender ciertas formas de vivir, perspectivas e incluso su involucración e importancia en la sociedad. Además, se presenta una biografía de quienes contarán su Historia de Vida. </p>
      <a href="https://open.spotify.com/episode/47nlI5SFFeWQ0eTlByVRwO"> Episodio 3: Carlos Delgado </a>
      <div><a href="https://open.spotify.com/episode/47nlI5SFFeWQ0eTlByVRwO"><img src="https://i.ibb.co/6NK9Y8C/cap-4r.png" width="150px"></a> </div>
      <p style="text-align:justify;"> Este programa tiene el objetivo de relatar vivencias culturales de personas del Cantón Guamote. Con sus relatos se busca
      transmitir un poco de historia y comprender ciertas formas de vivir, perspectivas e incluso su involucración e importancia en la sociedad. Además, se presenta una biografía de quienes contarán su Historia de Vida. </p>
      <a href="https://open.spotify.com/episode/6fxDz8MxLRmXf71q2aC656"> Episodio 4: Alejandro Gavin </a>
      <div><a href="https://open.spotify.com/episode/6fxDz8MxLRmXf71q2aC656"><img src="https://i.ibb.co/rdL8My5/cap-5r.png" width="150px"></a> </div>
      <p style="text-align:justify;"> Este programa tiene el objetivo de relatar vivencias culturales de personas del Cantón Guamote. Con sus relatos se busca
      transmitir un poco de historia y comprender ciertas formas de vivir, perspectivas e incluso su involucración e importancia en la sociedad. Además, se presenta una biografía de quienes contarán su Historia de Vida. </p>
      <a href="https://open.spotify.com/episode/4I4R6yLT1bbvhhvfVMPf2f"> Episodio 5: Juan Eduardo Vacasela  </a>
      <div><a href="https://open.spotify.com/episode/4I4R6yLT1bbvhhvfVMPf2f"><img src="https://i.ibb.co/1Z1D4Mp/cap-6r.png" width="150px"></a> </div>
      <p style="text-align:justify;"> Este programa tiene el objetivo de relatar vivencias culturales de personas del Cantón Guamote. Con sus relatos se busca
      transmitir un poco de historia y comprender ciertas formas de vivir, perspectivas e incluso su involucración e importancia en la sociedad. Además, se presenta una biografía de quienes contarán su Historia de Vida. </p>
      <a href="https://open.spotify.com/episode/3sid0knpZSKxCVqD8VR4lj"> Episodio 6: Juan Manuel Zuña  </a>
      <div><a href="https://open.spotify.com/episode/3sid0knpZSKxCVqD8VR4lj"><img src="https://i.ibb.co/Y2Ggtz4/cap-7r.png" width="150px"></a> </div>
      <p style="text-align:justify;"> Este programa tiene el objetivo de relatar vivencias culturales de personas del Cantón Guamote. Con sus relatos se busca
      transmitir un poco de historia y comprender ciertas formas de vivir, perspectivas e incluso su involucración e importancia en la sociedad. Además, se presenta una biografía de quienes contarán su Historia de Vida. </p>
      <a href="https://open.spotify.com/episode/5fcgcWaoBLnZ79WJAFjneJ"> Episodio 7: Hermana Laura Melena  </a>
      <div><a href="https://open.spotify.com/episode/5fcgcWaoBLnZ79WJAFjneJ"><img src="https://i.ibb.co/zSvyxVR/cap-77r.png" width="150px"></a> </div>
      <p style="text-align:justify;"> Este programa tiene el objetivo de relatar vivencias culturales de personas del Cantón Guamote. Con sus relatos se busca
      transmitir un poco de historia y comprender ciertas formas de vivir, perspectivas e incluso su involucración e importancia en la sociedad. Además, se presenta una biografía de quienes contarán su Historia de Vida. </p>
      <a href="https://open.spotify.com/episode/6mvSKS6K27X8wDUmMfPH64"> Episodio 8: Padre Julio Cortaire  </a>
      <div><a href="https://open.spotify.com/episode/6mvSKS6K27X8wDUmMfPH64"><img src="https://i.ibb.co/qFcKhyg/cap-8r.png" width="150px"></a> </div>
      <p style="text-align:justify;"> Este programa tiene el objetivo de relatar vivencias culturales de personas del Cantón Guamote. Con sus relatos se busca
      transmitir un poco de historia y comprender ciertas formas de vivir, perspectivas e incluso su involucración e importancia en la sociedad. Además, se presenta una biografía de quienes contarán su Historia de Vida. </p>
      <a href="https://open.spotify.com/episode/7GlhbjVa1AkRDUifoqD8R7"> Episodio 9: Luis Sasnalema  </a>
      <div><a href="https://open.spotify.com/episode/7GlhbjVa1AkRDUifoqD8R7"><img src="https://i.ibb.co/z7gt6f5/cap-9r.png" width="150px"></a> </div>
      <p style="text-align:justify;"> Este programa tiene el objetivo de relatar vivencias culturales de personas del Cantón Guamote. Con sus relatos se busca
      transmitir un poco de historia y comprender ciertas formas de vivir, perspectivas e incluso su involucración e importancia en la sociedad. Además, se presenta una biografía de quienes contarán su Historia de Vida. </p>
      <a href="https://open.spotify.com/episode/65HWEjEd0gVuJBRdmOiZWh"> Episodio 10: Maria Alejandrina </a>
      <div><a href="https://open.spotify.com/episode/65HWEjEd0gVuJBRdmOiZWh"><img src="https://i.ibb.co/kQS2yzx/cap-10.png" width="150px"></a> </div>
      <p style="text-align:justify;"> Este programa tiene el objetivo de relatar vivencias culturales de personas del Cantón Guamote. Con sus relatos se busca
      transmitir un poco de historia y comprender ciertas formas de vivir, perspectivas e incluso su involucración e importancia en la sociedad. Además, se presenta una biografía de quienes contarán su Historia de Vida. </p>
      <a href="https://open.spotify.com/episode/2rHDyGtiXoK3F4QmZQiYi3"> Episodio 11: Maria Lorena Guji  </a>
      <div><a href="https://open.spotify.com/episode/2rHDyGtiXoK3F4QmZQiYi3"><img src="https://i.ibb.co/f9R2hN1/cap-11r.png" width="150px"></a> </div>
      <p style="text-align:justify;"> Este programa tiene el objetivo de relatar vivencias culturales de personas del Cantón Guamote. Con sus relatos se busca
      transmitir un poco de historia y comprender ciertas formas de vivir, perspectivas e incluso su involucración e importancia en la sociedad. Además, se presenta una biografía de quienes contarán su Historia de Vida. </p>
      <a href="https://open.spotify.com/episode/2XmQF84eJ6Jhk4mqpLOBZz"> Episodio 12: Maria Paucar  </a>
      <div><a href="https://open.spotify.com/episode/2XmQF84eJ6Jhk4mqpLOBZz"><img src="https://i.ibb.co/C6HfcqY/cap-12r.png" width="150px"></a> </div>
      <p style="text-align:justify;"> Este programa tiene el objetivo de relatar vivencias culturales de personas del Cantón Guamote. Con sus relatos se busca
      transmitir un poco de historia y comprender ciertas formas de vivir, perspectivas e incluso su involucración e importancia en la sociedad. Además, se presenta una biografía de quienes contarán su Historia de Vida. </p>
      <a href="https://open.spotify.com/episode/66mT3AREve28KZisQcoIUq"> Episodio 13: Maria Rosenda Delgado  </a>
      <div><a href="https://open.spotify.com/episode/66mT3AREve28KZisQcoIUq"><img src="https://i.ibb.co/khL6ZHD/cap-13r.png" width="150px"></a> </div>
      <p style="text-align:justify;"> Este programa tiene el objetivo de relatar vivencias culturales de personas del Cantón Guamote. Con sus relatos se busca
      transmitir un poco de historia y comprender ciertas formas de vivir, perspectivas e incluso su involucración e importancia en la sociedad. Además, se presenta una biografía de quienes contarán su Historia de Vida. </p>
  
</ion-content>

