<ion-header>
  <ion-toolbar>
    <ion-title>Sobre Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <h2>¿Quiénes somos? </h2>
  <p style="text-align:justify;"> "La Voz de Guamote, Ayllukunapak Shimi, es un medio de comunicación de los jesuitas del Ecuador que brinda a la comunidad guamoteña sus servicios comunicacionales desde una perspectiva popular, comunitaria y educativa. Estamos asociados a la coordinadora de Medios Comunitarios Populares y Educativos del Ecuador (CORAPE),
     Asociación Latinoamericana de Educación y Comunicación Popular (ALER) y la Red de Radios Jesuitas de América Latina y el Caribe. 
  </p>
  <h2> Visión </h2>
  <p style="text-align:justify;"> Ser un medio de comunicación comunitaria, popular y educativa líder en la democratización de la palabra mediante la participación activa de las comunidades, movimientos y
     organizaciones, con énfasis en la opinión de la mujer y los sectores más vulnerables de la sociedad que se empoderan como actores políticos y culturales; una radio con incidencia 
     en la transformación de las condiciones de vida del Cantón Guamote, la Provincia de Chimborazo 
    y el país, a partir de las necesidades de los pueblos y el conocimiento del contexto social, cultural, político y religioso.
  </p>
  <h2> Misión</h2>
  <p style="text-align:justify;"> Impulsar la democratización de la palabra, desde una propuesta de comunicación comunitaria, popular y educativa, bilingüe e intercultural, participativa y evangelizadora que sirva a los indígenas y mestizos de Chimborazo, desde Guamote, en orden a promover la democracia, el 
    desarrollo humano, la justicia social y el buen vivir (Sumak Kawsay) iluminados por el Evangelio de Jesucristo. </p>
  <h2> Ubicación</h2>

  

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4776.382508840138!2d-78.7095306618155!3d-1.9331646948674466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d2f9c996cf4a15%3A0xfdc687ae2f397e!2sRadio%20La%20Voz%20de%20Guamote!5e0!3m2!1ses!2sec!4v1670451430761!5m2!1ses!2sec" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  
  <h2>Créditos</h2>
  <p style="text-align:justify;">
    Esta app fue desarrollada por parte de la Pontificia Universiad Católica del Ecuador, Facultad de Ingeniería y Fundación Acción Integral Guamote de Jesuitas Ecuador,  
    como una iniciativa de la Dirección de Inovación Educativa bajo el proyecto Aprendizaje-Servicio 2022
  </p>
  <p>
    Desarrolladores:
  </p>
  <p>
    Isaac Calvopiña
    Josué Orozco Y 
    Jair Llumiquinga
  <p>
    Orientadores: 
  </p>
  <p>
    Francisco Rodríguez Tutor de la Fac de Ingeniería 
  </p>
  <p>
    Querubín Flores Tutor de la Fac de Ciencias de la Educación
  </p>


</ion-content>
